SANITY_STUDIO_PROJECT_ID="your-project-id"
SANITY_STUDIO_DATASET="production"
SANITY_STUDIO_PREVIEW_URL="http://localhost:5173"

# Planning Center Online (PCO) Configuration
SANITY_STUDIO_PCO_APP_ID="your-pco-application-id"
SANITY_STUDIO_PCO_SECRET="your-pco-secret" 